@page "/"
@inject NavigationManager NavigationManager
<PageTitle>Emrys Seren</PageTitle>

<main class="main">
    <div class="cardStack">
        <br>
        <section class="card">
            <button @onclick="Navigate">Updates</button>
        </section>
        <section class="card">
            <h3><a href="https://tapas.io/series/A-Vein-of-Stardust/info"><img class="baseImgLeft" src="images/Voswebimgserenity1501.png"><img class="hoverImgLeft" src="images/Voswebimgserenity1502.png"> A Vein of Stardust<img class="baseImgRight" src="images/voswebimgian1501.png"><img class="hoverImgRight" src="images/voswebimgian1502.png"></a></h3>
        </section>
        <section class="card">
            <h3><a href="https://tapas.io/series/SnugOrbit/info"><img class="baseImgLeft" src="images/Snugorbitwebimg1501.png"><img class="hoverImgLeft" src="images/Snugorbitwebimg1502.png"> Snug Orbit Comic</a></h3>
        </section>

    </div>
    <br><br>
</main>

@code {
    void Navigate()
    {
        NavigationManager.NavigateTo("updates");
    }
}